<mat-list>
  <mat-divider></mat-divider>
  <mat-list-item matRipple [class.is-me]="user.isMe" *ngFor="let user of participants">
    <wp-user-icon class="user-icon" [user]="user"></wp-user-icon>
    <span class="user-name">{{user.userName}}</span> <span class="spacer"></span>
    <wp-file-stream-controls [user]="user"></wp-file-stream-controls>
    <wp-record-stats-controls [user]="user"></wp-record-stats-controls>
    <wp-participant-mute [user]="user"></wp-participant-mute>
    <button mat-icon-button (click)="this.showUserInfo(user)" aria-label="Show user info">
      <mat-icon>info</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>