<ng-container *ngFor="let property of propertyDictionary">
  <tr *ngIf="stat[property.propertyName] !== undefined">
    <wp-stat-property [label]="property.propertyLabel" [helpLink]="property.propertyHelpLink">
      <wp-stat-property-value-renderer [displayAs]="property.displayAs" [value]="stat[property.propertyName]">
      </wp-stat-property-value-renderer>
    </wp-stat-property>
  </tr>
</ng-container>
<ng-container *ngIf="displayAll && unlistedProperties.length > 0">
  <tr class="other-props-divider">
    <td colspan="3" class="divider-label mat-h3">Other properties</td>
  </tr>
  <tr *ngFor="let propertyKey of unlistedProperties">
    <wp-stat-property [label]="propertyKey">{{ stat[propertyKey] }}</wp-stat-property>
  </tr>
</ng-container>