<div fxLayout="row wrap">
  <ng-container *ngIf="rtcStats.connectionStats">
    <h2 fxFlex="auto">Realtime stats</h2>
    <button fxFlex="initial" mat-raised-button color="primary" (click)="this.showRawStats()" aria-label="Show raw stats"
      matTooltip="Show raw stats">
      <mat-icon>code</mat-icon>Show Raw stats
    </button>
  </ng-container>

  <ng-container *ngIf="rtcStats.transportDependentStats | async as stats">
    <!-- This trickery is needed, because Firefox doesn't support transport stats, but we want the remaining stats anyway -->
    <ng-template let-parentStats
      [ngTemplateOutletContext]="stats.transportStats.length > 0 ? {$implicit: stats.transportStats} : {$implicit: mapToArrayValues(stats.selectedCandidatePairStats)}"
      [ngTemplateOutlet]="t" #t>
      {{parentStats.id}}
      <mat-card fxFlex="100%" *ngFor="let parentStat of parentStats; trackBy: trackById">
        <mat-card-header>
          <mat-card-title>Transport dependent stats</mat-card-title>
        </mat-card-header>
        <mat-expansion-panel *ngIf="stats.transportStats && stats.transportStats.length > 0">
          <mat-expansion-panel-header>Transport<span class="spacer"></span><span class="id">{{ parentStat.id }}</span>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <wp-transport [stat]="parentStat"></wp-transport>
          </ng-template>
        </mat-expansion-panel>


        <mat-expansion-panel
          *ngIf="stats.selectedCandidatePairStats && stats.selectedCandidatePairStats.has(parentStat.id)">
          <mat-expansion-panel-header>Selected candidate pair<span class="spacer"></span><span
              class="id">{{ stats.selectedCandidatePairStats.get(parentStat.id).id }}</span>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <wp-candidate-pair-stats [stat]="stats.selectedCandidatePairStats.get(parentStat.id)">
            </wp-candidate-pair-stats>
          </ng-template>
        </mat-expansion-panel>


        <mat-expansion-panel *ngIf="stats.localCandidateStats && stats.localCandidateStats.has(parentStat.id)">
          <mat-expansion-panel-header>Local candidate<span class="spacer"></span><span
              class="id">{{ stats.localCandidateStats.get(parentStat.id).id }}</span>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <wp-candidate-stats [stat]="stats.localCandidateStats.get(parentStat.id)"></wp-candidate-stats>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="stats.remoteCandidateStats && stats.remoteCandidateStats.has(parentStat.id)">
          <mat-expansion-panel-header>Remote candidate<span class="spacer"></span><span
              class="id">{{ stats.remoteCandidateStats.get(parentStat.id).id }}</span></mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <wp-candidate-stats [stat]="stats.remoteCandidateStats.get(parentStat.id)"></wp-candidate-stats>
          </ng-template>
        </mat-expansion-panel>



        <mat-expansion-panel *ngIf="stats.localCertificateStats && stats.localCertificateStats.has(parentStat.id)">
          <mat-expansion-panel-header>Local certificate<span class="spacer"></span><span
              class="id">{{ stats.localCertificateStats.get(parentStat.id).id }}</span>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <wp-certificate-stats [stat]="stats.localCertificateStats.get(parentStat.id)"></wp-certificate-stats>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="stats.remoteCertificateStats && stats.remoteCertificateStats.has(parentStat.id)">
          <mat-expansion-panel-header>Remote certificate<span class="spacer"></span><span
              class="id">{{ stats.remoteCertificateStats.get(parentStat.id).id }}</span>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <wp-certificate-stats [stat]="stats.remoteCertificateStats.get(parentStat.id)"></wp-certificate-stats>
          </ng-template>
        </mat-expansion-panel>
      </mat-card>

    </ng-template>
  </ng-container>



  <ng-container *ngIf="rtcStats.outboundRtpDependentStats | async as stats">
    <mat-card  fxFlex.gt-md="50%" fxFlex="100%" *ngFor="let outboundRtp of stats.outboundRtpStats; trackBy: trackById">
      <mat-card-header>
        <mat-card-title>Outbound RTP ({{outboundRtp.kind}}) dependent stats</mat-card-title>
      </mat-card-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Outbound RTP ({{outboundRtp.kind}})<span class="spacer"></span><span
            class="id">{{ outboundRtp.id }}</span></mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <wp-outbound-rtp-stats [stat]="outboundRtp"></wp-outbound-rtp-stats>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="stats.remoteInboundRtpStats && stats.remoteInboundRtpStats.has(outboundRtp.id)">
        <mat-expansion-panel-header>Remote inbound RTP ({{stats.remoteInboundRtpStats.get(outboundRtp.id).kind}})<span
            class="spacer"></span><span class="id">{{ stats.remoteInboundRtpStats.get(outboundRtp.id).id }}</span>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <wp-remote-inbound-rtp-stats [stat]="stats.remoteInboundRtpStats.get(outboundRtp.id)">
          </wp-remote-inbound-rtp-stats>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="stats.mediaSourceStats && stats.mediaSourceStats.has(outboundRtp.id)">
        <mat-expansion-panel-header>Media source of outbound {{stats.mediaSourceStats.get(outboundRtp.id).kind}}<span
            class="spacer"></span><span class="id">{{ stats.mediaSourceStats.get(outboundRtp.id).id }}</span>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <wp-media-source-stats [stat]="stats.mediaSourceStats.get(outboundRtp.id)"></wp-media-source-stats>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="stats.codecStats && stats.codecStats.has(outboundRtp.id)">
        <mat-expansion-panel-header>Used outbound {{outboundRtp.kind}} codec<span class="spacer"></span><span
            class="id">{{ stats.codecStats.get(outboundRtp.id).id }}</span></mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <wp-codec-stats [stat]="stats.codecStats.get(outboundRtp.id)"></wp-codec-stats>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="stats.trackStats && stats.trackStats.has(outboundRtp.id)">
        <mat-expansion-panel-header>Outbound {{stats.trackStats.get(outboundRtp.id).kind}} track (deprecated)<span
            class="spacer"></span><span class="id">{{ stats.trackStats.get(outboundRtp.id).id }}</span>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <wp-track-stats [stat]="stats.trackStats.get(outboundRtp.id)"></wp-track-stats>
        </ng-template>
      </mat-expansion-panel>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="rtcStats.inboundRtpDependentStats | async as stats">
    <mat-card fxFlex.gt-md="50%" fxFlex="100%" *ngFor="let inboundRtp of stats.inboundRtpStats; trackBy: trackById">
      <mat-card-header>
        <mat-card-title>Inbound RTP ({{inboundRtp.kind}}) dependent stats</mat-card-title>
      </mat-card-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Inbound RTP ({{inboundRtp.kind}})<span class="spacer"></span><span
            class="id">{{ inboundRtp.id }}</span></mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <wp-inbound-rtp-stats [stat]="inboundRtp"></wp-inbound-rtp-stats>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="stats.remoteOutboundRtpStats && stats.remoteOutboundRtpStats.has(inboundRtp.id)">
        <mat-expansion-panel-header>Remote outbound RTP ({{stats.remoteOutboundRtpStats.get(inboundRtp.id).kind}})<span
            class="spacer"></span><span class="id">{{ stats.remoteOutboundRtpStats.get(inboundRtp.id).id }}</span>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <wp-remote-outbound-rtp-stats [stat]="stats.remoteOutboundRtpStats.get(inboundRtp.id)">
          </wp-remote-outbound-rtp-stats>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="stats.codecStats && stats.codecStats.has(inboundRtp.id)">
        <mat-expansion-panel-header>Used inbound {{inboundRtp.kind}} codec<span class="spacer"></span><span
            class="id">{{ stats.codecStats.get(inboundRtp.id).id }}</span></mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <wp-codec-stats [stat]="stats.codecStats.get(inboundRtp.id)"></wp-codec-stats>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="stats.trackStats && stats.trackStats.has(inboundRtp.id)">
        <mat-expansion-panel-header>inbound {{stats.trackStats.get(inboundRtp.id).kind}} track (deprecated)<span
            class="spacer"></span><span class="id">{{ stats.trackStats.get(inboundRtp.id).id }}</span>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <wp-track-stats [stat]="stats.trackStats.get(inboundRtp.id)"></wp-track-stats>
        </ng-template>
      </mat-expansion-panel>
    </mat-card>
  </ng-container>
</div>