.mat-accordion > .mat-expansion-panel-spacing:last-child,
.mat-expansion-panel {
  margin-bottom: 1em;
}
.id {
  font-style: italic;
  word-break: break-word;
  margin-right: .5em;
  margin-left: .5em;
}

mat-card {
  margin-bottom: 1em;
}