<h1 mat-dialog-title>Technical information about {{ this.user.userName }}</h1>
<mat-dialog-content class="mat-typography">
  <mat-expansion-panel>
    <mat-expansion-panel-header>General information about {{ user.userName }}</mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <wp-mat-dynamic-tree [data]="this.user" [typesToPrintPrototypePropertiesFor]="printPrototypeFor"
        [typesToSkip]="typesToSkip" [functionsToExpand]="functionsToExpand" [propertiesToSkip]="propertiesToSkip"
        [propertyFormatter]="propertyFormatter"></wp-mat-dynamic-tree>
      <ng-container *ngIf="user.peerconnection">
        <h3>ICE Candidates in use</h3>
        <wp-mat-dynamic-tree [data]="this.getSelectedIceCandidates()"
          [typesToPrintPrototypePropertiesFor]="printPrototypeFor" [typesToSkip]="typesToSkip"></wp-mat-dynamic-tree>
      </ng-container>
    </ng-template>
  </mat-expansion-panel>
  <ng-container *ngIf="user.peerconnection">
    <h1 class="statistics-header">WebRTC Statistics</h1>
    <ng-container *ngIf="user?.rtcStats?.summaryStats | async as summaryStats">
      <wp-summary-stats [summaryStats]="summaryStats"></wp-summary-stats>
    </ng-container>

    <wp-peer-stats [rtcStats]="user.rtcStats"></wp-peer-stats>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>