<ng-container *ngIf="user.isMe && rtc.canStream && user.streams.length > 0">
<button class="slim-button" mat-icon-button (click)="togglePlay()" aria-label="Play/Pause file stream" matTooltip="Play/Pause file stream">
  <mat-icon>{{rtc.isFileStreamPaused() ? 'play_arrow' : 'pause'}}</mat-icon>
</button>
<button class="slim-button" mat-icon-button (click)="rtc.replayFileStream()" aria-label="Restart stream from the beginning" matTooltip="Restart stream from the beginning">
  <mat-icon>replay</mat-icon>
</button>
</ng-container>