<div style="display: flex; align-items: center">
  <mat-spinner color="warn" style="flex: 0 0 auto;" [diameter]="32">&nbsp;</mat-spinner>
  <span class="saving" style="margin-left: 1em">No connection to WebSocket server at "{{ data.webSocketServer || 'unknown' }}". Maybe the container is still starting up. <br><strong>Reconnecting<span>.</span><span>.</span><span>.</span></strong></span>
</div>
