<h1 mat-dialog-title>Import settings</h1>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>Settings string</mat-label>
    <textarea [(ngModel)]="settingsString" matInput placeholder="Paste settings string here" cdkTextareaAutosize
      cdkAutosizeMinRows="1"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="parsedSettings()"
    [disabled]="!isValidSettings()">Apply</button>
</mat-dialog-actions>