<button class="slim-button" *ngIf="user.streams.length > 0 && user.hasAudioTracks()" mat-icon-button (click)="user.toggleMute()" aria-label="Mute/Unmute User" [matTooltip]="user.isMe ? 'Mute yourself to others' : 'Mute ' + user.userName">
  <mat-icon>{{user.isMuted() ? 'volume_off' : 'volume_up'}}</mat-icon>
</button>