<mat-sidenav-container fxFlexFill>
  <mat-sidenav position="end" #participantsSidenav>
    <wp-participants-list *ngIf="this.rtc.isConnectedToRoom.getValue() else notJoined" [participants]="this.rtc.room.participants">
    </wp-participants-list>
    <ng-template #notJoined>
      <mat-list>
        <mat-list-item> Not joined to room </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content class="flex-column fill">
    <mat-toolbar class="mat-elevation-z5" style="margin-bottom: 1.5em;">
      Room:&nbsp;<span style="font-weight: initial;">{{roomId || "Unknown Room"}}</span>&nbsp;
      <!-- <mat-chip-list><mat-chip color="primary">Username: {{userName || "Anonymous User"}}</mat-chip></mat-chip-list> -->
      <wp-participants-chips fxHide fxShow.gt-xs *ngIf="this.rtc.isConnectedToRoom.getValue()"
        [isConnected]="this.rtc.isConnectedToRoom.getValue()" [participants]="this.rtc.room.participants">
      </wp-participants-chips>

      <!-- <button mat-button color="primary" (click)="getUserMedia()"
    [disabled]="rtc.localStream ? rtc.localStream.active : false">Start</button>
  <button mat-button color="primary" (click)="stopLocalMedia()"
    [disabled]="rtc.localStream ? !rtc.localStream.active : true">Stop</button> -->
      <span class="spacer"></span>
      <button mat-icon-button (click)="this.rtc.renegotiate()" matTooltip="Reconnect to participants"
      aria-label="Reconnect to participants" [disabled]="!this.rtc.isConnectedToRoom.getValue() || rtc.room.participants.length < 2">
      <mat-icon aria-hidden="false">refresh</mat-icon>
    </button>
      <button mat-icon-button color="primary" (click)="participantsSidenav.toggle()" matTooltip="Toggle user list"
        aria-label="Toggle user list">
        <mat-icon [matBadge]="this.rtc.isConnectedToRoom.getValue() ? this.rtc.room.participants.length : 0"
          matBadgeColor="accent" aria-hidden="false">group</mat-icon>
      </button>
    </mat-toolbar>
    <wp-participants-area class="flex-column fill" *ngIf="this.rtc.isConnectedToRoom.getValue()"
      [participants]="this.rtc.room.participants"></wp-participants-area>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <mat-grid-list rowHeight="16:9" *ngIf="this.rtc.isConnectedToRoom.getValue()" [cols]="this.rtc.room.participants.length % 2">
  <mat-grid-tile *ngFor="let user of this.rtc.room.participants">
    <mat-grid-tile-header>{{ user.userName }}</mat-grid-tile-header>

  </mat-grid-tile>
</mat-grid-list> -->