<h1 mat-dialog-title class="title">API interaction log</h1>
<mat-dialog-content>
  <mat-card fxLayout="row wrap" fxLayoutAlign="start center" *ngFor="let apiLog of apiInteraction.apiLog">
    <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".3em" fxFlex="0 1 auto" [class]="apiLog.type === 'error' ? 'warnColorFG' : ''" class="timestamp">
      <mat-icon>{{apiLog.type === 'error' ? 'error' : 'info'}}</mat-icon>
      <span>{{apiLog.timestamp | date:'dd.MM.yy HH:mm:ss'}}</span>
    </span>
    <wp-mat-dynamic-tree fxFlex="1 1 auto"
      [data]="apiLog.type === 'success' ? {result: apiLog.message} : {error: apiLog.message}"
      [typesToSkip]="typesToSkip" [propertiesToSkip]="propertiesToSkip"></wp-mat-dynamic-tree>
  </mat-card>
  <div *ngIf="!apiInteraction.apiLog?.length">
    <h2>Nothing to show</h2>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>