mat-tree {
  overflow-x: auto;
}

.key {
  margin-right: 1em;
  margin-bottom: auto;
}
.key.expandable,
.type.expandable {
  margin-bottom: unset;
}
.value {
  margin-right: 1em;
}

.copy-button,
.copy-button mat-icon {
  font-size: initial;
  margin-bottom: auto;
  line-height: inherit;
  height: initial;
  width: initial;
}

.copy-button {
  margin-right: 1em;
}

.type {
  font-style: italic;
  margin-bottom: auto;
}

.mat-tree-node {
  min-height: unset !important;
}

.mat-icon-button {
  height: unset !important;
}

.preview {
  margin-left: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  filter: opacity(0.65);
}
