<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <code class="key accentColorFG">{{node.key}}:</code> <code class="value" [innerHTML]="node.value"></code>
    <button
      class="copy-button" (click)="copyValue(node.value)" mat-icon-button>
      <mat-icon>content_copy</mat-icon>
    </button> <code class="primaryColorFG-light type">{{node.type}}</code>

  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.key">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <code class="key expandable accentColorFG">{{node.key}}:</code>
    <code class="type expandable primaryColorFG-light">{{node.type}}</code>
    <code [hidden]="treeControl.isExpanded(node)" class="preview expandable">{{node.preview}}</code>
  </mat-tree-node>
</mat-tree>