<ng-container *ngIf="user && !user?.isMe && this?.user?.rtcStats?.statRecorder">
  <button class="slim-button" mat-icon-button (click)="toggleRecord()" aria-label="Start/Stop stat recording"
    [matTooltip]="(this?.user?.rtcStats?.statRecorder?.isRecording ? 'Stop' : 'Start') + ' stat recording'">
    <mat-icon>{{this?.user?.rtcStats?.statRecorder?.isRecording ? 'clear' : 'create'}}</mat-icon>
  </button>
  <button *ngIf="this?.user?.rtcStats?.statRecorder?.recordedStats?.length > 0" class="slim-button" mat-icon-button
    (click)="downloadStats()" aria-label="Download recorded stats" matTooltip="Download recorded stats">
    <mat-icon>save_alt</mat-icon>
  </button>
</ng-container>