<ng-container *ngIf="user.isMe; else notMe">
  <mat-icon mat-list-icon>person</mat-icon>
</ng-container>
<ng-template #notMe>
  <ng-container [ngSwitch]="(connectionState | async)">
    <mat-icon *ngSwitchCase="'connected'" mat-list-icon>person_outline</mat-icon>
    <mat-icon *ngSwitchCase="'error'" mat-list-icon color="warn">error</mat-icon>
    <mat-spinner *ngSwitchDefault class="wp-user-status-spinner" color="accent" diameter="14"></mat-spinner>
  </ng-container>
</ng-template>