<h2 mat-dialog-title>Raw stats report</h2><span class="spacer"></span>
<mat-dialog-content class="mat-typography">
  <wp-mat-dynamic-tree *ngIf="statsReport else loading;" #treeComponent [data]="statsReportObject"></wp-mat-dynamic-tree>
  <ng-template #loading><mat-spinner style="margin: auto"></mat-spinner></ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-icon-button (click)="this.treeComponent.refresh()" aria-label="refresh stats report" matTooltip="refresh stats report">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>