<mat-expansion-panel>

  <mat-expansion-panel-header>Summary stats</mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div fxLayout="row wrap">
      <table style="margin-bottom: 1em;">
      <wp-stat-property label="Stat generation time">
        <wp-stat-property-value-renderer displayAs="high-res-timestamp"
          [value]="summaryStats?.timestamp">
        </wp-stat-property-value-renderer>
      </wp-stat-property>
    </table>
      <mat-expansion-panel fxFlex="100%">
        <mat-expansion-panel-header>Session descriptions</mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div fxLayout="row wrap">
            <mat-card fxFlex.gt-sm="calc(50% - 1em)"  fxFlex="100%" ngClass.gt-sm="right-gap">
              <mat-card-header>
                <mat-card-title>Local session description ({{summaryStats?.connectionSummaryStats.localSessionDescription.type}})</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <wp-sdp-renderer [sessionDescription]="summaryStats?.connectionSummaryStats.localSessionDescription.sdp">
                </wp-sdp-renderer>
              </mat-card-content>
            </mat-card>
            <mat-card fxFlex.gt-sm="50%" fxFlex="100%">
              <mat-card-header>
                <mat-card-title>Remote session description ({{summaryStats?.connectionSummaryStats.remoteSessionDescription.type}})</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <wp-sdp-renderer [sessionDescription]="summaryStats?.connectionSummaryStats.remoteSessionDescription.sdp">
                </wp-sdp-renderer>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-template>
      </mat-expansion-panel>
      <!-- <div fxLayout="row wrap"> -->
      <mat-card fxFlex="100%">
        <mat-card-header>
          <mat-card-title>Connection</mat-card-title>
        </mat-card-header>
        <table>
          <ng-container *ngFor="let connectionSummaryStat of connectionSummaryStats">
            <wp-stat-property [label]="connectionSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="connectionSummaryStat.displayAs"
                [value]="summaryStats?.connectionSummaryStats[connectionSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>
        </table>
      </mat-card>
      <mat-card *ngIf="summaryStats?.outboundRtpAudioSummaryStats" fxFlex.gt-sm="calc(50% - 1em)" fxFlex="100%" ngClass.gt-sm="right-gap">
        <mat-card-header>
          <mat-card-title>Outbound RTP Audio</mat-card-title>
        </mat-card-header>
        <table>

          <ng-container *ngFor="let rtpSummaryStat of rtpSummaryStats">
            <wp-stat-property [label]="rtpSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="rtpSummaryStat.displayAs"
                [value]="summaryStats?.outboundRtpAudioSummaryStats[rtpSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let rtpSummaryStat of outboundRtpSummaryStats">
            <wp-stat-property [label]="rtpSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="rtpSummaryStat.displayAs"
                [value]="summaryStats?.outboundRtpAudioSummaryStats[rtpSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let mediaSourceSummaryStat of mediaSourceAudioSummaryStats">
            <wp-stat-property [label]="mediaSourceSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="mediaSourceSummaryStat.displayAs"
                [value]="summaryStats?.outboundRtpAudioSummaryStats?.mediaSourceStats ? summaryStats?.outboundRtpAudioSummaryStats?.mediaSourceStats[mediaSourceSummaryStat.propertyName] : null">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let codecSummaryStat of codecSummaryStats">
            <wp-stat-property [label]="codecSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="codecSummaryStat.displayAs"
                [value]="summaryStats?.outboundRtpAudioSummaryStats?.codec ? summaryStats?.outboundRtpAudioSummaryStats?.codec[codecSummaryStat.propertyName] : null">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let audioCodecSummaryStat of audioCodecSummaryStats">
            <wp-stat-property [label]="audioCodecSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="audioCodecSummaryStat.displayAs"
                [value]="summaryStats?.outboundRtpAudioSummaryStats?.codec ? summaryStats?.outboundRtpAudioSummaryStats?.codec[audioCodecSummaryStat.propertyName] : null">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>
        </table>
      </mat-card>
      <mat-card *ngIf="summaryStats?.outboundRtpVideoSummaryStats" fxFlex.gt-sm="50%" fxFlex="100%">
        <mat-card-header>
          <mat-card-title>Outbound RTP Video</mat-card-title>
        </mat-card-header>

        <table>
          <ng-container *ngFor="let rtpSummaryStat of rtpSummaryStats">
            <wp-stat-property [label]="rtpSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="rtpSummaryStat.displayAs"
                [value]="summaryStats?.outboundRtpVideoSummaryStats[rtpSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let rtpSummaryStat of outboundRtpSummaryStats">
            <wp-stat-property [label]="rtpSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="rtpSummaryStat.displayAs"
                [value]="summaryStats?.outboundRtpVideoSummaryStats[rtpSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let outboundRtpVideoSummaryStat of outboundRtpVideoSummaryStats">
            <wp-stat-property [label]="outboundRtpVideoSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="outboundRtpVideoSummaryStat.displayAs"
                [value]="summaryStats?.outboundRtpVideoSummaryStats[outboundRtpVideoSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let videoSummaryStat of videoSummaryStats">
            <wp-stat-property [label]="videoSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="videoSummaryStat.displayAs"
                [value]="summaryStats?.outboundRtpVideoSummaryStats[videoSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let mediaSourceSummaryStat of mediaSourceVideoSummaryStats">
            <wp-stat-property [label]="mediaSourceSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="mediaSourceSummaryStat.displayAs"
                [value]="summaryStats?.outboundRtpVideoSummaryStats?.mediaSourceStats ? summaryStats?.outboundRtpVideoSummaryStats?.mediaSourceStats[mediaSourceSummaryStat.propertyName] : null">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let codecSummaryStat of codecSummaryStats">
            <wp-stat-property [label]="codecSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="codecSummaryStat.displayAs"
                [value]="summaryStats?.outboundRtpVideoSummaryStats?.codec ? summaryStats?.outboundRtpVideoSummaryStats?.codec[codecSummaryStat.propertyName] : null">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>
        </table>
      </mat-card>
      <mat-card *ngIf="summaryStats?.inboundRtpAudioSummaryStats" fxFlex.gt-sm="calc(50% - 1em)" fxFlex="100%" ngClass.gt-sm="right-gap">
        <mat-card-header>
          <mat-card-title>Inbound RTP Audio</mat-card-title>
        </mat-card-header>

        <table>
          <ng-container *ngFor="let rtpSummaryStat of rtpSummaryStats">
            <wp-stat-property [label]="rtpSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="rtpSummaryStat.displayAs"
                [value]="summaryStats?.inboundRtpAudioSummaryStats[rtpSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let rtpSummaryStat of inboundRtpSummaryStats">
            <wp-stat-property [label]="rtpSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="rtpSummaryStat.displayAs"
                [value]="summaryStats?.inboundRtpAudioSummaryStats[rtpSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let inboundRtpAudioSummaryStat of inboundRtpAudioSummaryStats">
            <wp-stat-property [label]="inboundRtpAudioSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="inboundRtpAudioSummaryStat.displayAs"
                [value]="summaryStats?.inboundRtpAudioSummaryStats[inboundRtpAudioSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let codecSummaryStat of codecSummaryStats">
            <wp-stat-property [label]="codecSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="codecSummaryStat.displayAs"
                [value]="summaryStats?.inboundRtpAudioSummaryStats?.codec ? summaryStats?.inboundRtpAudioSummaryStats?.codec[codecSummaryStat.propertyName] : null">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let audioCodecSummaryStat of audioCodecSummaryStats">
            <wp-stat-property [label]="audioCodecSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="audioCodecSummaryStat.displayAs"
                [value]="summaryStats?.inboundRtpAudioSummaryStats?.codec ? summaryStats?.inboundRtpAudioSummaryStats?.codec[audioCodecSummaryStat.propertyName] : null">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>
        </table>

      </mat-card>
      <mat-card *ngIf="summaryStats?.inboundRtpVideoSummaryStats" fxFlex.gt-sm="50%" fxFlex="100%">

        <mat-card-header>
          <mat-card-title>Inbound RTP Video</mat-card-title>
        </mat-card-header>
        <table>
          <ng-container *ngFor="let rtpSummaryStat of rtpSummaryStats">
            <wp-stat-property [label]="rtpSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="rtpSummaryStat.displayAs"
                [value]="summaryStats?.inboundRtpVideoSummaryStats[rtpSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let rtpSummaryStat of inboundRtpSummaryStats">
            <wp-stat-property [label]="rtpSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="rtpSummaryStat.displayAs"
                [value]="summaryStats?.inboundRtpVideoSummaryStats[rtpSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let inboundRtpVideoSummaryStat of inboundRtpVideoSummaryStats">
            <wp-stat-property [label]="inboundRtpVideoSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="inboundRtpVideoSummaryStat.displayAs"
                [value]="summaryStats?.inboundRtpVideoSummaryStats[inboundRtpVideoSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let videoSummaryStat of videoSummaryStats">
            <wp-stat-property [label]="videoSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="videoSummaryStat.displayAs"
                [value]="summaryStats?.inboundRtpVideoSummaryStats[videoSummaryStat.propertyName]">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>

          <ng-container *ngFor="let codecSummaryStat of codecSummaryStats">
            <wp-stat-property [label]="codecSummaryStat.propertyLabel">
              <wp-stat-property-value-renderer [displayAs]="codecSummaryStat.displayAs"
                [value]="summaryStats?.inboundRtpVideoSummaryStats?.codec ? summaryStats?.inboundRtpVideoSummaryStats?.codec[codecSummaryStat.propertyName] : null">
              </wp-stat-property-value-renderer>
            </wp-stat-property>
          </ng-container>
        </table>
      </mat-card>
      <!-- </div> -->
    </div>
  </ng-template>

</mat-expansion-panel>
