@import '~@angular/material/theming';

// @import "./material.icons";

@include mat-core();

// from https://stackoverflow.com/questions/46760306/get-material-2-theme-color-scheme-palette-for-other-elements
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .primaryColorBG {
    background-color: mat-color($primary) !important;
  }
  .accentColorBG {
    background-color: mat-color($accent) !important;
  }
  .warnColorBG {
    background-color: mat-color($warn) !important;
  }

  .primaryColorFG {
    color: mat-color($primary) !important;
  }

  .primaryColorFG-light {
    color: mat-color($primary, 300) !important;
  }
  .accentColorFG {
    color: mat-color($accent) !important;
  }

  .accentColorFG-light {
    color: mat-color($accent, 300) !important;
  }

  .warnColorFG {
    color: mat-color($warn) !important;
  }

  .list-item-active {
    font-weight: bold;
    color: mat-color($accent, darker) !important;
  }
}

.light-theme {
  $light-primary: mat-palette($mat-indigo, 700);
  $light-accent: mat-palette($mat-pink, 500, A100, A400);
  $light-warn: mat-palette($mat-red, 600);

  $light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
  @include theme-color-grabber($light-theme);
  @include angular-material-theme($light-theme);
}

.dark-theme {
  // Define an alternate dark theme.
  $dark-primary: mat-palette($mat-blue-grey, 300);
  $dark-accent: mat-palette($mat-amber, A200, A100, A400);
  $dark-warn: mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include theme-color-grabber($dark-theme);

  @include angular-material-theme($dark-theme);
}
