<button type="button" *ngIf="!hideIfEmpty || apiInteraction.apiLog.length || (apiInteraction.interactionPending$ | async)"
  mat-icon-button matTooltip="Open API interaction log" (click)="showApiLog()" [matBadgeHidden]="!apiLogErrors()"
  matBadgeSize="small" [matBadge]="apiLogErrors()" matBadgeColor="warn">
  <mat-spinner *ngIf="apiInteraction.interactionPending$ | async" class="wp-interaction-pending-spinner" color="accent"
    diameter="14"></mat-spinner>
  <mat-icon aria-hidden="false" aria-label="API interaction log">list</mat-icon>
</button>