<mat-form-field appearance="standard" fxFlex="100%" fxFlex.gt-sm="calc(50% - 3em)">
  <mat-label>{{label}}</mat-label>
  <mat-select [(ngModel)]="settingToBind" (selectionChange)="settingToBindChange.emit($event?.value)" [compareWith]="codecConfigEquals"
    [disabled]="!availableCodecs" name="preferredSendAudioCodec">
    <mat-option>Browser default</mat-option>
    <mat-option *ngFor="let codec of availableCodecs" [value]="codec">
      {{codec.name}}
      <span class="codec-properties">
        ({{codecCapabilitiesToString(codec.codecCapability)}})
      </span>
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="standard" fxFlex="100%" fxFlex.gt-xs="calc(50% - 3em)">
  <mat-label>Format options</mat-label>
  <input type="text" name="outAudioFmtp" [disabled]="!settingToBind"
    [ngModel]="settingToBind?.preferredSdpFmtpLine ? settingToBind.preferredSdpFmtpLine : settingToBind?.codecCapability?.sdpFmtpLine"
    (ngModelChange)="settingToBind.preferredSdpFmtpLine = $event"
    placeholder="Specify format options" aria-label="Format options" matInput>
  <button mat-icon-button *ngIf="settingToBind?.preferredSdpFmtpLine" matSuffix matTooltip="Reset to default"
    aria-label="Reset to default"
    (click)="settingToBind.preferredSdpFmtpLine = undefined">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>