<mat-sidenav-container fullscreen>
  <div fxFlexFill fxLayout="column">
    <mat-toolbar color="primary" class="mat-elevation-z6">

      <button mat-icon-button style="margin-right: .5em;" (click)="this.router.navigate(['/'])">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Home">home</mat-icon>
      </button>
      <img src="assets/icon/webrtc-playground-logo-plain.svg" height="60%" style="margin-right: .5em">
      <span class="wp-app-title">{{ title }}</span>
      <span class="spacer"></span>
      <wp-api-log-button [hideIfEmpty]="true"></wp-api-log-button>
      <button mat-icon-button matTooltip="About {{ title }}" (click)="showAbout()">
        <mat-icon aria-hidden="false" aria-label="about">info</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Open settings" (click)="showSettings()">
        <mat-icon aria-hidden="false" aria-label="Settings">settings</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>