<div fxLayout="row wrap" fxLayoutAlign="center"
  class="participants-container">
  <div fxFlex="100%" [fxFlex.gt-xs]="100 / colCount(participantsWithVideo())" *ngFor="let user of participants" [hidden]="!user.hasVideoTracks()">
    <mat-card class="participant-card fill">
      <mat-card-title>{{ user.userName }}</mat-card-title>
      <div *ngIf="user.streams.length > 0">
      <video class="participant-video fill" [muted]="user.isMe && !rtc.streamFromFile" *ngFor="let stream of user.streams" autoplay
        [srcObject]="stream"></video>       
      </div>        
      <!-- <ng-template #loading><mat-spinner style="margin: auto;"></mat-spinner></ng-template> -->
    </mat-card>
  </div>
</div>