.participants-container {
  flex-grow: 1;
  flex-shrink: 1;
}

.participants-area{
  /* display: table-row; */
  /* height: 100%; */
}

.participant-card {
  /* display: table-cell; */
  /* margin-top: 1em; */
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  margin: auto;
  box-sizing:border-box;
  display: flex !important;
  flex-direction: column; 
  position: relative;
}

.participant-video {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
	max-height: calc(100% - 4em);
	max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 3.5em;
  margin-bottom: 1em;
}