<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 2em">
  <mat-card fxLayout="column" fxFlex.gt-xs="500px" fxFlex="95%">
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title fxLayout="column" fxLayoutAlign="center center">
        <img style="margin-bottom: 1.5em;" src="assets/icon/webrtc-playground-logo.svg" alt="WebRTC Playground Logo"
          width="120">
        <h1 class="">Create / Join room</h1>
      </mat-card-title>
      <mat-card-subtitle>
        Enter a room name and your own name
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="column" #joinRoomForm="ngForm" (ngSubmit)="joinRoom(joinRoomForm.value)">
        <mat-form-field>
          <mat-label>Room name</mat-label>
          <input matInput #roomNameInput="ngModel" id="roomId" name="roomId" [ngModel]="this.roomId"
            [pattern]='roomNameRegexp' placeholder="Enter the name of the room to join" required autofocus>
          <mat-error *ngIf="roomNameInput.invalid">Enter a valid room name. Allowed characters are: [a-zA-Z0-9_.-].
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>User name</mat-label>
          <input matInput #userNameinput="ngModel" type="text" name="userName" placeholder="Enter your username" ngModel
            [pattern]='userNameRegexp' required>
          <mat-error *ngIf="userNameinput.invalid">Enter a valid user name
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button fxFill mat-raised-button color="primary" [disabled]="!rtc.isConnectedToSocket || !joinRoomForm.valid"
            type="submit">Go to
            room</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>