<h1 mat-dialog-title class="title">About {{ appTitle }}</h1>

<mat-dialog-content class="mat-typography">
  <p>
    WebRTC Playground is an Angular based web application providing peer-to-peer real-time communication using WebRTC.
    It is mainly intended for evaluating and experimenting with the WebRTC implementations of web browsers.
  </p>
  <p>
    {{ appTitle }} was created by <span [innerHTML]="mail"></span>. The Code is released under the <a class="accentColorFG" href="https://gitlab.com/MoeRT09/webrtc-playground/-/raw/master/LICENSE" target="_blank">MIT License</a> and can
    be found on <a class="accentColorFG" href="https://gitlab.com/MoeRT09/webrtc-playground" target="_blank">GitLab</a>.
  </p>
  <p class="mat-body-strong">Feel free to participate!</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>