.label {
  font-weight: bold;
  max-width: 150px;
  min-width: 90px;
}

.mat-icon {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
}
.material-icons {
  font-size: 16px !important;
}

.mat-icon-button {
  height: unset !important;
  width: unset !important;
  line-height: unset !important;
  /* margin-right: .5em; */
}

p > span> a,
mat-icon {
  font-size: initial;
  margin-bottom: auto;
  line-height: inherit;
  height: initial;
  width: initial;
}
td {
  vertical-align: middle;
  word-break: break-word;
  line-height: normal;
}

:host {
  display: contents;
  margin-bottom: .5em;
}