<table>
  <wp-common-stat [stat]="stat"></wp-common-stat>

  <wp-stat-properties-display [stat]="stat" [propertyDictionary]="propertyDictionary" [displayAll]="true">
  </wp-stat-properties-display>
</table>