<mat-chip-list *ngIf="isConnected else notJoined">
  <mat-chip *ngFor="let user of participants" [selected]="user.isMe" color="primary">
    <wp-user-icon style="display: flex;" [user]="user"></wp-user-icon>&nbsp;
    {{ user.userName || "Anonymous User"}}
    <wp-file-stream-controls [user]="user"></wp-file-stream-controls>
    <wp-record-stats-controls [user]="user"></wp-record-stats-controls>
    <wp-participant-mute [user]="user"></wp-participant-mute>    
  </mat-chip>
</mat-chip-list>
<ng-template #notJoined>
  <mat-chip-list>
    <mat-chip selected color="warn">Not joined to room</mat-chip>
  </mat-chip-list>
</ng-template>