<td>
  <a [disabled]="!helpLink" mat-icon-button [href]="helpLink" target="_blank">
    <mat-icon>help_outline</mat-icon>
  </a>
</td>
<td class="label">
  {{label}}:
</td>
<td>
  <ng-content></ng-content>
</td>