/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css'; 
@use './theme/theme.scss';

html, body { height: 100vh; margin: 0}
body {
   display: flex;
  //  align-items: center;
  //  justify-content: center;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
}

.fill {
  flex-grow: 1;
}

.spacer {
  flex: 1 1 auto;
}

.slim-button {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.getusermedia-failed-snackbar {
  white-space: pre-wrap;
}

// Code for the initial loading spinner. Taken from https://codepen.io/mrrocks/pen/EiplA

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}