<h1 mat-dialog-title class="title">Settings<span class="spacer"></span>
  <button mat-icon-button matTooltip="Load settings string" (click)="loadSettingsString()">
    <mat-icon>import_export</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Copy settings string" (click)="copySettingsString()">
    <mat-icon>content_copy</mat-icon>
  </button>
</h1>
<form #settingsForm="ngForm" (submit)="applySettings()">
  <mat-dialog-content class="mat-typography">
    <mat-card>
      <mat-card-title>Audio / Video options</mat-card-title>
      <mat-card-subtitle>
        Here you can specify, whether you will transfer your local media into the room, select the codecs that should be
        used or specify a media file, that should be streamed to the room.
      </mat-card-subtitle>
      <mat-card-content>
        <section class="local-media" fxLayout="row wrap" fxLayoutGap="1em">
          <h2 fxFlex="100%">Local media options</h2>
          <mat-slide-toggle [disabled]="currentSettings.streamFile" name="sendAudio" fxFlex="100%"
            [(ngModel)]="currentSettings.sendAudio">Send audio from local microphone</mat-slide-toggle>
          <mat-slide-toggle [disabled]="currentSettings.streamFile" name="sendVideo" fxFlex="100%"
            [(ngModel)]="currentSettings.sendVideo">Send video from local webcam</mat-slide-toggle>
        </section>
        <mat-divider [inset]="true"></mat-divider>
        <section class="file-stream" fxLayout="row wrap" fxLayoutGap="1em">
          <h2 fxFlex="100%">File stream options</h2>
          <mat-slide-toggle fxFlex="100%" name="streamFile" [(ngModel)]="currentSettings.streamFile">Stream file
          </mat-slide-toggle>
          <input fxHide [disabled]="!currentSettings.streamFile" #fileToStream="ngModel" id="fileToStream"
            name="fileToStream" type="file" #fileInput accept="video/*,audio/*"
            [(ngModel)]="currentSettings.fileToStream" observeFiles [requiredIf]="currentSettings?.streamFile">
          <button fxFlex="0 1 auto" [disabled]="!currentSettings.streamFile" type="button" mat-raised-button
            color="primary" class="file-select-button" (click)="onClickFileInputButton()">
            <mat-icon>attach_file</mat-icon>
            Select file
          </button>
          <label fxFlex="1 1 auto" class="file-name" for="fileToStream"
            *ngIf="!currentSettings?.fileToStream || currentSettings?.fileToStream.length === 0 else fileName">Nothing
            selected</label>
          <ng-template #fileName>
            <label fxFlex="1 1 auto" class="file-name"
              for="fileToStream">{{ currentSettings?.fileToStream[0]?.name }}</label>
          </ng-template>
          <mat-error fxFlex="100%" [style.visibility]="fileToStream.invalid ? 'visible' : 'hidden'">Please select a file
          </mat-error>
          <mat-slide-toggle [disabled]="!currentSettings.streamFile" name="autoplayOnFirstParticipant" fxFlex="100%"
            [(ngModel)]="currentSettings.autoplayOnFirstParticipant">Automatically start playback as soon as the first
            other user joins the room</mat-slide-toggle>
          <mat-divider [inset]="true"></mat-divider>
        </section>
        <section fxLayout="row wrap" fxLayoutGap.gt-sm="3em">
          <h2 fxFlex="100%">Codec options</h2>
          <mat-error fxFlex="100%"
            *ngIf="!settings.availableSendAudioCodecs || !settings.availableSendVideoCodecs || !settings.availableReceiveAudioCodecs || !settings.availableReceiveVideoCodecs">
            Your browser doesn't support querying the supported codecs!
          </mat-error>

          <wp-codec-select fxLayout="row wrap" fxFlex="100%" fxLayoutGap.gt-sm="3em"
            label="Preferred outbound audio codec" [availableCodecs]="settings.availableSendAudioCodecs"
            [(settingToBind)]="currentSettings.preferredSendAudioCodec"></wp-codec-select>
          <wp-codec-select fxLayout="row wrap" fxFlex="100%" fxLayoutGap.gt-sm="3em"
            label="Preferred outbound video codec" [availableCodecs]="settings.availableSendVideoCodecs"
            [(settingToBind)]="currentSettings.preferredSendVideoCodec"></wp-codec-select>
          <wp-codec-select fxLayout="row wrap" fxFlex="100%" fxLayoutGap.gt-sm="3em"
            label="Preferred inbound audio codec" [availableCodecs]="settings.availableReceiveAudioCodecs"
            [(settingToBind)]="currentSettings.preferredReceiveAudioCodec"></wp-codec-select>
          <wp-codec-select fxLayout="row wrap" fxFlex="100%" fxLayoutGap.gt-sm="3em" ngClass.lt-md="no-margin-right"
            label="Preferred inbound video codec" [availableCodecs]="settings.availableReceiveVideoCodecs"
            [(settingToBind)]="currentSettings.preferredReceiveVideoCodec"></wp-codec-select>
          <mat-divider [inset]="true"></mat-divider>
        </section>

        <section fxLayout="row wrap" fxLayoutGap.gt-sm="3em">
          <h2 fxFlex="100%">Bitrate options</h2>
          <mat-form-field appearance="standard" fxFlex="100%" fxFlex.gt-sm="calc(50% - 3em)">
            <mat-label>Maximum Audio send bitrate (kbit/s)</mat-label>
            <input #audioSendBandwidth="ngModel" type="number" min="0" pattern="\d+" name="audioSendBandwidth" matInput
              placeholder="Maximum Audio send bitrate (kbit/s)"
              [(ngModel)]="currentSettings.preferredSendAudioBandwidth">
            <button mat-icon-button *ngIf="currentSettings?.preferredSendAudioBandwidth !== undefined" matSuffix
              matTooltip="Reset to default" aria-label="Reset to default"
              (click)="currentSettings.preferredSendAudioBandwidth = undefined">
              <mat-icon>close</mat-icon>
            </button>
            <mat-hint>Enter "<code>-</code>" to remove a possible bitrate limit from the peer</mat-hint>
            <mat-error *ngIf="audioSendBandwidth.invalid">Enter a postive integer number
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" fxFlex="100%" fxFlex.gt-sm="calc(50% - 3em)">
            <mat-label>Maximum Video send bitrate (kbit/s)</mat-label>
            <input #videoSendBandwidth="ngModel" type="number" min="0" pattern="\d+" name="videoSendBandwidth" matInput
              placeholder="Maximum Video send bitrate (kbit/s)"
              [(ngModel)]="currentSettings.preferredSendVideoBandwidth">
            <button mat-icon-button *ngIf="currentSettings?.preferredSendVideoBandwidth !== undefined" matSuffix
              matTooltip="Reset to default" aria-label="Reset to default"
              (click)="currentSettings.preferredSendVideoBandwidth = undefined">
              <mat-icon>close</mat-icon>
            </button>
            <mat-hint>Enter "<code>-</code>" to remove a possible bitrate limit from the peer</mat-hint>
            <mat-error *ngIf="videoSendBandwidth.invalid">Enter a postive integer number
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" fxFlex="100%" fxFlex.gt-sm="calc(50% - 3em)">
            <mat-label>Maximum Audio receive bitrate (kbit/s)</mat-label>
            <input #audioReceiveBandwidth="ngModel" type="number" min="0" pattern="\d+" name="audioReceiveBandwidth"
              matInput placeholder="Maximum Audio receive bitrate (kbit/s)"
              [(ngModel)]="currentSettings.preferredReceiveAudioBandwidth">
            <button mat-icon-button *ngIf="currentSettings?.preferredReceiveAudioBandwidth !== undefined" matSuffix
              matTooltip="Reset to default" aria-label="Reset to default"
              (click)="currentSettings.preferredReceiveAudioBandwidth = undefined">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="audioReceiveBandwidth.invalid">Enter a postive integer number
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" fxFlex="100%" fxFlex.gt-sm="calc(50% - 3em)"
            ngClass.lt-md="no-margin-right">
            <mat-label>Maximum Video receive bitrate (kbit/s)</mat-label>
            <input #videoReceiveBandwidth="ngModel" type="number" min="0" pattern="\d+" name="videoReceiveBandwidth"
              matInput placeholder="Maximum Video receive bitrate (kbit/s)"
              [(ngModel)]="currentSettings.preferredReceiveVideoBandwidth">
            <button mat-icon-button *ngIf="currentSettings?.preferredReceiveVideoBandwidth !== undefined" matSuffix
              matTooltip="Reset to default" aria-label="Reset to default"
              (click)="currentSettings.preferredReceiveVideoBandwidth = undefined">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="videoReceiveBandwidth.invalid">Enter a postive integer number
            </mat-error>
          </mat-form-field>
        </section>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Automation options</mat-card-title>
      <mat-card-subtitle>
        Here you can specify, settings that automate certain things. This is especially useful for testing purposes.
      </mat-card-subtitle>
      <mat-card-content>
        <section fxLayout="row wrap" fxLayoutGap="1em">
          <h2 fxFlex="100%">WebRTC-Stat recorder</h2>
          <mat-slide-toggle name="autostartStatRecording" fxFlex="100%"
            [(ngModel)]="currentSettings.autostartStatRecording">Automatically start stat recording for new users
          </mat-slide-toggle>
          <mat-slide-toggle name="includeSdp" fxFlex="100%" [(ngModel)]="currentSettings.includeSdpInStatRecording">
            Include session descriptions (SDP) in stat recordings (increases log size significantly)
          </mat-slide-toggle>
          <mat-divider [inset]="true"></mat-divider>
        </section>
        <section fxLayout="row wrap">
          <h2 fxFlex="100%">API Interactions</h2>
          <mat-card-subtitle fxFlex="100%">
            Here you can specify API endpoints that should be triggered, as soon as the ICE connection to at least one
            user is established or as soon as there is no connection to any user anymore. If you have file streaming
            enabled with auto-playback, the playback will start as soon as the API call was successful or fails.
          </mat-card-subtitle>
          <button fxFlex="0 1 auto" fxFlex.lt-sm="1 1 auto" type="button" mat-raised-button color="primary"
            (click)="addApiInteraction()">
            <mat-icon>add</mat-icon>
            Add API interaction endpoint
          </button>
          <wp-api-log-button fxFlex="0 1 auto"></wp-api-log-button>
          <ng-template ngFor let-interaction [ngForOf]="currentSettings.apiInteractions" let-index="index"
            let-isLast="last">
            <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="1em">
              <mat-form-field fxFlex="1 0 60%" appearance="standard">
                <mat-label>API Interaction endpoint URL</mat-label>
                <button mat-icon-button aria-label="remove API interaction" matTooltip="Remove API interaction"
                  matPrefix (click)="removeApiInteraction(index)">
                  <mat-icon>clear</mat-icon>
                </button>
                <input #urlInput="ngModel" [name]="'url' + interaction.id" matInput placeholder="URL"
                  [(ngModel)]="interaction.endpointUrl" required
                  pattern="\b(https?):\/\/[\-A-Za-z0-9+&@#\/%?=~_|!:,.;]*[\-A-Za-z0-9+&@#\/%=~_|]">
                <mat-error *ngIf="urlInput.invalid">Enter a valid URL
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="standard" fxFlex="1 1 auto">
                <mat-label>HTTP method</mat-label>
                <mat-select [name]="'method' + interaction.id" [(ngModel)]="interaction.method" required
                  #methodInput="ngModel">
                  <mat-option *ngFor="let method of getHttpMethods()" [value]="method">
                    {{method}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button [disabled]="urlInput.invalid || methodInput.invalid" type="button" mat-mini-fab color="primary"
                fxFlex="0 1 auto" (click)="triggerInteraction(interaction)" matTooltip="Trigger API endpoint now">
                <mat-icon>play_arrow</mat-icon>
              </button>
              <div fxFlex="0 1 auto" fxLayout="column" class="interaction-trigger-select">
                <mat-slide-toggle [name]="'onFirst' + interaction.id" fxFlex="10%"
                  [(ngModel)]="interaction.executeOnFirst">
                  Trigger when first user joins
                </mat-slide-toggle>
                <mat-slide-toggle [name]="'onLast' + interaction.id" fxFlex="10%"
                  [(ngModel)]="interaction.executeOnLast">
                  Trigger when last user leaves
                </mat-slide-toggle>
              </div>
            </div>
            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
          </ng-template>
        </section>
      </mat-card-content>
    </mat-card>



    <mat-card>
      <mat-card-title>ICE-Candidate filters</mat-card-title>
      <mat-card-subtitle>
        Here you can specify regular expressions for local and remote ICE-Candidates. If a candidate matches the
        regular expression, it won't be announced to the peer (local candidates) or will be ignored (remote candidates
        announced by the peer).
        <br>
        The regular expression is checked against the candidate entry, as ist appears in the session description and
        has the following form:
        <code>candidate:3807915506 1 udp 2122260223 172.23.32.1 61561 typ host generation 0 ufrag XzHJ network-id 1</code>
      </mat-card-subtitle>
      <mat-card-content fxLayout="row wrap" fxLayoutGap.gt-xs="3em">
        <mat-form-field appearance="standard" fxFlex="100%" fxFlex.gt-xs="calc(50% - 3em)">
          <mat-label>Local ICE-Candidate filter</mat-label>
          <input #localIceCandidateFilter="ngModel" name="localIceCandidateFilter" matInput placeholder="Filter"
            [(ngModel)]="currentSettings.localIceCandidateFilter" wpIsValidRegularExpression>
          <mat-hint><code>(?!)</code> won't match anything</mat-hint>
          <mat-error *ngIf="localIceCandidateFilter.invalid">Invalid regular expression
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" fxFlex="100%" fxFlex.gt-xs="calc(50% - 3em)">
          <mat-label>Remote ICE-Candidate filter</mat-label>
          <input #remoteIceCandidateFilter="ngModel" name="remoteIceCandidateFilter" matInput placeholder="Filter"
            [(ngModel)]="currentSettings.remoteIceCandidateFilter" wpIsValidRegularExpression>
          <mat-hint><code>(?!)</code> won't match anything</mat-hint>
          <mat-error *ngIf="remoteIceCandidateFilter.invalid">Invalid regular expression
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="settingsForm.invalid">Apply</button>
  </mat-dialog-actions>
</form>