mat-dialog-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

form mat-slide-toggle {
  margin: 8px 0;
}

.file-name {
  margin: auto;
}

mat-card:nth-last-child(n + 2) {
  margin-bottom: 1em;
}

.file-stream input:disabled ~ label {
  opacity: 0.38;
}

.file-stream mat-error {
  margin: 3px 0;
}

mat-card-content > section > h2 {
  margin-bottom: 0;
}

section > wp-codec-select:last-child,
section > mat-form-field:last-child {
  margin-right: 3em;
}

.no-margin-right {
  margin-right: 0 !important;
}

.interaction-trigger-select[fxFlex]:last-of-type {
  margin-right: 1em;
}

.title{
  display: flex;
}